<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>L-Space</title>
    <link rel="stylesheet" href="static/bulma.min.css">
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>