{% macro book(book) %}
    <article class="media">
        <div class="media-content">
            <div class="content">
                Title: {{ book.title }}<br>
                <span class="nobreak">Author: {% for author in book.authors %}
                    <a href="{{ url_for_self(author=author.name, page=1) }}">{{ author.name }}</a>
                    {% if loop.index != loop.length %},{% endif %} {% endfor %}</span><br>
                <span class="nobreak">Language: <a
                        href="{{ url_for_self(language=book.language or 'None', page=1) }}">{{ book.language or 'None' }}</a></span>
                <br>
                <span class="nobreak">Publisher:<a
                        href="{{ url_for_self(publisher=book.publisher or 'None', page=1) }}">{{ book.publisher or 'None' }}</a></span>
                <br>
                <span class="nobreak">Year: <a
                        href="{{ url_for_self(year=book.year, page=1) }}">{{ book.year }}</a></span><br>
                <span class="nobreak">Shelf:<a
                        href="{{ url_for_self(shelf=book.shelf.name or 'default', page=1) }}">{{ book.shelf.name or 'default' }}</a></span>
                <br>
            </div>
        </div>
        <div class="media-right">
            <!--<figure class="image is-64x64">
                <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
            </figure>-->
            <a class="button" href="{{ url_for('api.book_file', md5sum=book.md5sum) }}">Download</a>
        </div>
    </article>
{% endmacro %}

{% macro shelf(shelf) %}
    shelf macro!!
{% endmacro %}

{% macro author(author) %}
    Name: {{ author.name }}<br>
    Books:
    <ul>
        {% for author_book in author.books %}
            <li> {{ book(author_book) }}</li>
        {% endfor %}
    </ul>
    author macro!!
{% endmacro %} class=pagination-list

{% macro pagination(paginated_thing) %}
    <nav class="pagination is-small" role="navigation" aria-label="pagination">
        <ul class="pagination-list">
            <li><a class="pagination-previous"
                   {% if paginated_thing.prev_num %}href="{{ url_for_self(page=paginated_thing.prev_num) }}"{% endif %}><<</a>
            </li>
            <li>{{ paginated_thing.page }}/{{ (paginated_thing.total / paginated_thing.per_page) | round(method='ceil') | int }}
            </li>
            <li><a class="pagination-previous"
                   {% if paginated_thing.next_num %}href="{{ url_for_self(page=paginated_thing.next_num) }}"{% endif %}>>></a>
            </li>
        </ul>
    </nav>

{% endmacro %}


{% macro book_filter(form) %}
    <form method="GET" action="/">
        <div class="field">
            <div class="label">search</div>
            <div class="control">
                {{ form.title(size=20, class_="input", placeholder='title') }}
            </div>
        </div>
        <div class="field">
            <div class="control">
                {{ form.publisher(size=20, class_="input", placeholder='publisher') }}
            </div>
        </div>
        <div class="field">
            <div class="control">
                {{ form.author(size=20, class_="input", placeholder='author') }}
            </div>
        </div>
        <div class="field">
            <div class="control">
                {{ form.language(size=20, class_="input", placeholder='language') }}
            </div>
        </div>
        <div class="field">
            <div class="control">
                {{ form.shelf(size=20, class_="input", placeholder='shelf') }}
            </div>
        </div>
        <div class="field">
            <div class="control">
                {{ form.year(size=20, class_="input", placeholder='year') }}
            </div>
            <p class="help">case insensitive. use % as wildcard!</p>
        </div>
        <input type="submit" value="Go" class="button">
    </form>
{% endmacro %}


{% macro import_block() %}

    <div class="content is-small">
        <div class=" is-size-6">
            <button class="button is-small" id="copy_button">copy</button>
            import search results:
        </div>
        <pre><code class="is-size-7"
                   id="import_string"></code></pre>

        <div id="temp"></div>
    </div>

{% endmacro %}

